@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --Poppins: "Poppins", sans-serif;
  --Roboto: "Roboto", sans-serif;
  --Open-Sans: "Open Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.All-One{
  opacity: 0;
  animation: opener 2s linear forwards;
}
@keyframes opener{
  to{
    opacity: 1;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: black;
  color: white;
  min-height: 100px;
}

.command-name > h1 {
  color: rgb(5, 247, 5);
  font-family: var(--Roboto);
}
.command-name > h1 > span {
  color: grey;
  font-size: 20px;
}
.granted > h1 {
  color: lime;
  font-family: var(--Roboto);
  font-size: 25px;
}

.main-class {
  min-height: 100vh;
  color: white;
  background-color: black;

}
.sub-main-class{
  background-color: green;
}


.access-class {
  display: flex;
  justify-content: space-between;
}
.system {
  margin: 0 10px;
  width: 150px;
  padding: 10px;
}

.system > h1 {
  font-family: var(--Roboto);
  font-size: 15px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 10px 0;
}
.in-sub-system {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.logo > h3 {
  color: lime;
  font-size: 25px;
  margin: 0 5px;
}
.texts > h4 {
  font-family: var(--Roboto);
  margin: 0 10px;
}
.texts > h4:nth-child(2) {
  color: lime;
  padding: 5px 0;
}
.texts > h4:nth-child(1) {
  color: grey;
}

.session {
  margin: 0 10px;
}
.session > h1 {
  font-family: var(--Roboto);
  font-size: 15px;
  padding: 0 10px;
}

.in-session {
  padding: 10px;
  width: 200px;
}
.in-sub-session {
  display: flex;
  align-items: center;
}
.session-contents {
  padding: 0 10px;
}
.session-contents > h4 {
  font-size: 15px;
  font-family: var(--Roboto);
  margin: 5px 0;
}

.session-contents > h4:nth-last-child(1) {
  color: lime;
}
.session-contents > h4:nth-last-child(2) {
  color: grey;
}
.session-logo > h3 {
  color: lime;
  font-size: 20px;
}
