@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --Poppins: "Poppins", sans-serif;
  --Roboto: "Roboto", sans-serif;
  --Open-Sans: "Open Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
.All-One{
  opacity: 0;
  animation: opener 2s linear forwards;
}
@keyframes opener{
  to{
    opacity: 1;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: black;
  color: white;
  min-height: 80px;
}

.command-name > h1 {
  color: rgb(5, 247, 5);
  font-family: var(--Roboto);
}
.command-name > h1 > span {
  color: grey;
  font-size: 20px;
}
.granted > h1 {
  color: lime;
  font-family: var(--Roboto);
  font-size: 20px;
}

.main-class {
  min-height: 100vh;
  color: white;
  background-color: black;

}
.sub-main-class{
  background-color: green;
}


.access-class {
  display: flex;
  justify-content: space-between;
}
.system {
  margin: 0 10px;
  width: 150px;
  padding: 10px;
}

.system > h1 {
  font-family: var(--Roboto);
  font-size: 15px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 10px 0;
}
.in-sub-system {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.logo > h3 {
  color: lime;
  font-size: 25px;
  margin: 0 5px;
}
.texts > h4 {
  font-family: var(--Roboto);
  margin: 0 10px;
}
.texts > h4:nth-child(2) {
  color: lime;
  padding: 5px 0;
}
.texts > h4:nth-child(1) {
  color: grey;
}

.session {
  margin: 0 10px;
}
.session > h1 {
  font-family: var(--Roboto);
  font-size: 15px;
  padding: 0 10px;
}

.in-session {
  padding: 10px;
  width: 200px;
}
.in-sub-session {
  display: flex;
  align-items: center;
}
.session-contents {
  padding: 0 10px;
}
.session-contents > h4 {
  font-size: 15px;
  font-family: var(--Roboto);
  margin: 5px 0;
}

.session-contents > h4:nth-last-child(1) {
  color: lime;
}
.session-contents > h4:nth-last-child(2) {
  color: grey;
}
.session-logo > h3 {
  color: lime;
  font-size: 20px;
}

.navigation{
  border: 2px solid lime;
  padding: 10px;
  border-radius: 10px;
  margin: 0 10px;
  min-height: 300px;
}
.navigation > h1{
  font-family: var(--Roboto);
  font-size: 15px;
  text-align: center;
}
.navs{
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.dest-contents{
  margin: 0 10px;
  font-family: var(--Roboto);
  font-size: 13px;
}
.dest-contents > h3{
  padding: 5px 0;
  font-weight: 500;
}
.icons{
  color: lime;
  margin: 0 5px;
}
.dest-contents > h3:nth-child(2){
  color: lime;
}
.dest-contents > h3:nth-child(1){
  color: grey;
}
.navs {
  border-bottom: 1px solid grey;
  cursor: pointer;
}
.names{
  display: flex;
  justify-content: space-between;
  font-family: var(--Roboto);
  font-size: 13px;
}
.activities{
  margin: 0 5px;
}
.names > h3{
  margin: 5px 0;
}
.activity > h1{
  font-family: var(--Roboto);
  font-size: 15px;
  color: aqua;
  text-align: center;
}
.activity{
  margin: 15px 10px;
  border: 2px solid aqua;
  padding: 10px;
  border-radius: 5px;
}
.names > h3:nth-child(2){
  color: lime;
}
.names > h3:nth-child(1){
  color: rgb(114, 117, 117);
}

.letter{
  background-color: lime;
  padding: 10px;
  color: black;
  border: 2px solid white;
  border-radius: 3px;
  font-weight: bold;
  font-family: var(--Roboto);
  cursor: pointer;
}
.hamburger{
  display:none;
}
.hamburger > h1{
  color:white;
}
.destination{
  display: none;
}


@media screen and (min-width:100px) and (max-width:375px){

  .controller{
    min-width: 100vw;
    overflow: hidden;
  }

  

  .main-class{
    padding:20px;
  }
  .hamburger{
    display:block;
    padding-right: 10px;
  }

  .access-class{
    display: flex;
    flex-direction: column-reverse;
  }
  .status{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
  }
  .granted,.btn-new{
    display: none;
  }
  header{
    min-width: 100vw;
    padding:0 20px;
  }
  .hamburger > h1{
    font-size: 50px;
    color: limegreen;
  }
  .destination {
    opacity: 0;
    animation: 2s linear forwards menubar;
  }
  @keyframes menubar{
    to{
      opacity: 1;
    }
  }
  .destination{
    display: none;
  }
  
  
}
@media screen and (min-width:376px) and (max-width:767px){

  .main-class{
    min-width: 100vw;
    padding:20px;
  }
  .hamburger{
    display:block;
    padding: 0 30px 0 0;
  }

  .access-class{
    display: flex;
    flex-direction: column-reverse;
  }
  .status{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  .granted,.btn-new{
    display: none;
  }
  header{
    min-width: 100vw;
    padding:0 20px;
  }
  .hamburger > h1{
    font-size: 50px;
    color: limegreen;
  }
  .destination {
    opacity: 0;
    animation: 2s linear forwards menubar;
  }
  @keyframes menubar{
    to{
      opacity: 1;
    }
  }
  .destination{
    display: none;
  }
  
}